
@charset "UTF-8";

/* CSS Document */

*{
margin:0;
padding:0;
}

html {
scroll-behavior: smooth;
font-size:62.5%;
}

body{
font-family: "ヒラギノ明朝 Pro","游明朝",serif;
   -webkit-text-size-adjust: 100%;
background-color:#FFF7DB;
font-size:1.5rem;
color:#000;
 }

@media (max-width: 959px) {
body{
font-family: "ヒラギノ明朝 Pro","游明朝",serif;
   -webkit-text-size-adjust: 100%;
background-color:#FFF7DB;
font-size:1.4rem;
color:#000;
 }
}

@media (max-width: 519px) {
body{
font-family: "ヒラギノ明朝 Pro","游明朝",serif;
   -webkit-text-size-adjust: 100%;
background-color:#FFF7DB;
font-size:1.4rem;
color:#000;
 }
}

a {
position: relative;
display: inline-block;
text-decoration: none;
color:#000;
}

li a:hover{
color:#802327;
}

li a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #802327;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

a:hover::after {
  transform: scale(1, 1);
}

.container_main{
width:95%;
max-width:1200px;
margin:0 auto;
}

.text_title{
font-size:2.2rem;
}



/*ヘッダー*/

header{
background-color:#fff;
width:100%;
}

.container_menu{
width:90%;
max-width:1200px;
height:80px;
margin:0 auto;
display: flex;
justify-content:space-between;
align-items:center;
}

.header_logo{
width:30%;
}

/*
@media (max-width: 959px) {
.header_logo{
display: none;
}
}
*/

.header_menu{
width:70%;
}

.nav {
display: flex;
justify-content: flex-end;
}

ul, li {
    list-style: none;
}

.nav_menu{
display:flex;
}

@media (max-width: 959px) {
.nav_menu{
display:block;
text-align:center;
margin:0 auto;
}
}

.nav_list{
padding-left:30px;
}

@media (max-width: 959px) {
.nav_list{
padding:10px 0;
}
}

.img_logo{
align-items: center;
}

.text_title{
text-align:center;
}

.text_big{
font-size:2.5rem;
text-align:center;
}

.text_big2{
font-size:2.3rem;
}

@media (max-width: 519px) {
.text_big2{
font-size:2rem;
text-align:center;
}
}

.back_c{
background-color:#FFF7DB;
}

/*改行の指定*/

@media screen and (min-width: 520px){
.br-sp {display: none; }
}


/*ハンバーガーメニュー*/

@media (max-width: 959px) {

.menu{
  display: block;
}


 header nav{
    position: fixed;
    width: 300px;
    top: 0;
    right: -300px;
    background-color: rgba(255,255,255,.9);
    height: 100%;
    padding-top: 60px;
    z-index: 50;
  }

header nav ul li{
  width: 100%;
}

  header nav ul li a{
    color: #000;
  }

  header .btn-gnavi{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 100;
    cursor: pointer;
    transition: all 400ms;
    -webkit-transition:all 400ms;
  }

  header .btn-gnavi span {
      position: absolute;
      width: 30px;
      height: 4px;
      background: #802327;
      border-radius: 10px;
      -webkit-transition: all 400ms;
      transition: all 400ms
  }

  header .btn-gnavi span:nth-child(1){
    top: 0;
  }

  header .btn-gnavi span:nth-child(2){
    top: 10px;
  }

  header .btn-gnavi span:nth-child(3){
    top: 20px;
  }

  header .btn-gnavi.hb-open{
    transform: rotate(180deg);
    -webkit-transform:rotate(180deg);
  }

  header .btn-gnavi.hb-open span{
    background: #802327;
  }

  header .btn-gnavi.hb-open span:nth-child(1){
    width: 24px;
    transform: translateY(10px) rotate(-45deg);
    -webkit-transform: translateY(10px) rotate(-45deg);
  }

  header .btn-gnavi.hb-open span:nth-child(2){
    width: 24px;
    opacity: 0;/*真ん中の線は透過*/
    -webkit-transform: opacity: 0;/*真ん中の線は透過*/
  }

  header .btn-gnavi.hb-open span:nth-child(3){
    width: 24px;
    transform: translateY(-10px) rotate(45deg);
    -webkit-transform: translateY(-10px) rotate(45deg);
  }
}


/*ヘッダー下・写真*/

.under_header{
display:flex;
justify-content:center;
}

.under_header img{
width:100%;
max-width:1200px;
}

.photo_icon{
display:flex;
flex-direction:column;
align-items:center;
position:relative;
}


.top_icon{
width:25%;
text-align:center;
position:absolute;
bottom:0%;
}

.top_icon img{
border-radius:50%;
width:100%;
max-width:250px;
}

.down_arrow{
text-align:center;
}

.arrow_color{
color:#802327;
}


/*フェードインアニメーション*/

/* 上からフェードイン */

.slide-top {
	opacity: 0;
	transform: translate(0, -20px);
	transition: all 1s 0s ease-out;
 }

.slide-top02 {
	opacity: 0;
	transform: translate(0, -20px);
	transition: all 1s 0.5s ease-out;
 }

.slide-top03 {
	opacity: 0;
	transform: translate(0, -20px);
	transition: all 1s 1s ease-out;
 }

/* 左からフェードイン */
.slide-left {
	opacity: 0;
	transform: translate(-20px, 0);
	transition: all 0.5s 0s ease-out;
 }

.slide-left02 {
	opacity: 0;
	transform: translate(-20px, 0);
	transition: all 0.5s 1s ease-out;
 }

/* 右からフェードイン */
.slide-right {
	opacity: 0;
	transform: translate(20px, 0);
	transition: all 0.5s 0.5s ease-out;
 }

@media (max-width: 519px) {
/* 左からフェードイン */
.slide-left {
	opacity: 0;
	transform: translate(-20px, 0);
	transition: all 0.8s 0s ease-out;
 }

.slide-left02 {
	opacity: 0;
	transform: translate(-20px, 0);
	transition: all 0.8s 0s ease-out;
 }

/* 右からフェードイン */
.slide-right {
	opacity: 0;
	transform: translate(20px, 0);
	transition: all 0.8s 0s ease-out;
 }
}

/* 下からフェードイン */

.slide-bottom {
   opacity: 0;
   transform: translate(0, 20px);
   transition: all 0.8s 0s ease-out;
 }

.slide-bottom02 {
   opacity: 0;
   transform: translate(0, 20px);
   transition: all 0.8s 0.5s ease-out;
 }

.slide-bottom03 {
   opacity: 0;
   transform: translate(0, 20px);
   transition: all 0.8s 1s ease-out;
 }



/*五島うどんヒストリー*/

.text_history{
text-align:center;
line-height:3rem;
}

.back_feature{
background-color:#fff;
}

/*3つの特徴*/

.text_feature{
line-height:2.8rem;
}

.box_udon_out{
width:90%;
max-width:1200px;
margin:0 auto;
display:flex;
flex-direction:column;
align-items:center;
}

@media (max-width: 519px) {
.box_udon_out{
width:95%;
max-width:1200px;
margin:0 auto;
display:flex;
flex-direction:column;
align-items:center;
}
}

.box_udon_in{
display:flex;
justify-content:center;
align-items:center;
width:100%;
}

.box_udon_in02{
display:flex;
justify-content:center;
align-items:center;
width:100%;
}

@media (max-width: 959px) {

.box_udon_in{
display:flex;
flex-direction:column;
align-items:center;
width:100%;
margin-top:20px;
margin-bottom:20px;
}

.box_udon_in02{
display:flex;
flex-direction:column-reverse;
align-items:center;
width:100%;
margin-top:20px;
margin-bottom:20px;
}

}

@media (max-width: 519px) {

.box_udon_in{
display:flex;
flex-direction:column;
align-items:center;
width:100%;
margin-top:20px;
margin-bottom:20px;
}

.box_udon_in02{
display:flex;
flex-direction:column-reverse;
align-items:center;
width:100%;
margin-top:20px;
margin-bottom:20px;
}

}

.box_udon_p{
width:50%;
display:flex;
justify-content:space-between;
align-items:center;
}

@media (max-width: 519px) {
.box_udon_p{
width:60%;
display:flex;
justify-content:space-between;
align-items:center;
}
}

.feature_photo{
width:75%;
max-width:400px;
}

.feature_photo img{
border-radius:50%;
width:100%;
max-width:400px;
}

.feature_logo{
width:25%;
max-width:150px;
}

.feature_logo img{
width:100%;
max-width:150px;
}

.box_udon_text{
width:50%;
}

@media (max-width: 959px) {
.box_udon_text{
width:100%;
text-align:center;
}
}

.udon_text_in{
width:75%;
margin:0 auto;
}

@media (max-width: 959px) {
.udon_text_in{
width:90%;
margin:10px auto;
}
}


.back_title_r{
background:#FFF;
height:100px;
-webkit-clip-path:ellipse(57% 100% at 50% 100%);
clip-path: ellipse(57% 100% at 50% 0%);
}



/*フッター*/

.nav_listB{
padding-left:30px;
}


@media (max-width: 959px) {
.nav_listB{
padding-left:0;
padding-right:30px;
}
}

@media (max-width: 719px) {
.nav_listB{
padding-left:0;
padding-right:0;
padding-bottom:10px;
font-size:1.4rem;
}
}

.container_footer{
width:90%;
max-width:1200px;
margin:0 auto;
display: flex;
justify-content:space-between;
align-items:center;
}

@media (max-width: 959px) {
.container_footer{
width:100%;
display:flex;
flex-direction:column;
}
}

@media (max-width: 719px) {
.container_footer{
width:100%;
display:flex;
flex-direction:column-reverse;
}
}

footer{
width:100%;
height:120px;
background-color:#802327;
display: flex;
justify-content:space-between;
align-items:center;
}

@media (max-width: 959px) {
footer{
width:100%;
height:auto;
background-color:#802327;
display: flex;
justify-content:space-between;
}
}

@media (max-width: 959px) {
.footer_logo{
width:90%;
margin:30px 0 20px 0;
}
}

@media (max-width: 719px) {
.footer_logo{
width:100%;
margin:10px 0 30px 0;
text-align:center;
}
}

@media (max-width: 959px) {
.footer_menu{
width:90%;
}
}

.footer_list{
color:#fff;
display:flex;
justify-content: flex-end;
}


@media (max-width: 959px) {
.footer_list{
color:#fff;
width:90%;
padding:10px 0 40px 0;
display:flex;
justify-content: flex-start;
}
}

@media (max-width: 719px) {
.footer_list{
color:#fff;
width:100%;
padding:40px 0 20px 0;
text-align:center;
display:flex;
flex-direction:column;
}
}

.footer_list a:link{
color:#fff;
}
.footer_list a:visited{
color:#fff;
}
.footer_list a:hover{
color:#ccc;
}

.text_ann{
font-size:1rem;
color:#fff;
}
